---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}/"/>
  <id>{{ site.url }}/</id>
  <author><name>{{ site.author }}</name></author>
  {%- if collections.posts.length %}
  <updated>{{ collections.posts[0].date | rfc3339 }}</updated>
  {%- endif %}
  {%- for post in collections.posts | head(20) %}
  <entry>
    <title>{{ post.data.title | escape }}</title>
    <link href="{{ site.url }}{{ post.url }}"/>
    <id>{{ site.url }}{{ post.url }}</id>
    <published>{{ post.date | rfc3339 }}</published>
    <updated>{{ post.date | rfc3339 }}</updated>
    {%- if post.data.summary %}
    <summary>{{ post.data.summary | escape }}</summary>
    {%- endif %}
    <content type="html">{{ post.templateContent | escape }}</content>
  </entry>
  {%- endfor %}
</feed>
